<div style="margin:10px;color:#2F2F2F;">
    <table>
        <tr>
            <td colspan="2">
                <script type="text/javascript">
                    {literal}
                    function submitDetails(){
                        document.getElementById('details').submit();
                    }
                    {/literal}
                </script>
                <form name="details" id="details" action="pi_ratepay_rate_checkout_details.php" method="post">
                    <input type="hidden" id='conditions' name='conditions' value='conditions'/>
                    <input type="hidden" id='pirprate' name='pirprate' />

                </form>

                <link type="text/css" rel="stylesheet" href="ext/modules/payment/pi_ratepay_rate/ratenrechner/css/style.css"/>
                <script type="text/javascript" src="ext/modules/payment/pi_ratepay_rate/ratenrechner/js/path.js"></script>
                <script type="text/javascript" src="ext/modules/payment/pi_ratepay_rate/ratenrechner/js/layout.js"></script>
                <script type="text/javascript" src="ext/modules/payment/pi_ratepay_rate/ratenrechner/js/ajax.js"></script>

                <div id="pirpmain-cont" class="pirpmain-cont">
                </div>
                <script type="text/javascript">
                    {literal}
                    if(document.getElementById('pirpmain-cont')) {
                        piLoadrateCalculator();
                    }
                    {/literal}
                </script>
            </td>
        </tr>
        <tr>
            <td style="text-align:left;">
                <a href="pi_ratepay_rate_checkout_terms.php">
                    <img src="templates/xtc4/buttons/german/button_back.gif" />
                </a>
            </td>
            <td style="text-align:right;">
                <a href="javascript:submitDetails();">
                    <img src="templates/xtc4/buttons/german/button_continue.gif" />
                </a>
            </td>

        </tr>
    </table>
</div>
