<script type="text/javascript">
    {literal}
    function submitTerms(){
        if(document.getElementById('conditions').checked == true){
            document.getElementById('terms').submit();
        }
        else{
            document.getElementById('error').style.display = 'block';
        }
    }
    {/literal}
</script>
<style>
    {literal}
    .piRpCheckbox{
        vertical-align: top;
    }
    .piRpConditionContainer{
        margin:10px;
        color:#2F2F2F;
        vertical-align: top;
    }
    .piRpConditionLink{
        text-decoration: underline;
        color: #1E7EC8;
    }
    {/literal}
</style>
<div class="piRpConditionContainer">
    <table>
        <tr>
            <td colspan="2">
                <img src="images/ratepay_rechnung_rgb.png" alt="RatePAY Rechnung"/>
                &nbsp;
                <br/>
                <div style="color:red;display:none;" id="error">
                    {$RATEPAY_AGB_ERROR}
                </div>
                <br/>
                <b>
                    <span style="color:red;">{$smarty.const.TITLE}</span> 
                    {$RATEPAY_INFO_1}
                </b>
                <br/>
                <br/>
                {$RATEPAY_INFO_2}
                <b>{$RATEPAY_INFO_3}{$min} EUR </b>
                und 
                <b>{$RATEPAY_INFO_4}{$max} EUR</b>
                <br/>
                {$RATEPAY_INFO_5}
                <br/>
                <br/>
                <small>
                    {$RATEPAY_INFO_6}
                </small>
            </td>
        </tr>
        <tr>
            <td colspan='2'>
                <br/>
            </td>
        </tr>
        <tr>
            <td colspan='2'>
                <table>
                    <tr>
                        <td class="piRpCheckbox">
                            <form action="checkout_confirmation.php" name="terms" method="POST" id="terms">
                                <input id="conditions" type="checkbox" name="conditions" value="conditions"/>
                            </form>
                        </td>
                        <td>
                            {$RATEPAY_INFO_7}
                            <a href="{$gtc}" target="_blank" class="piRpConditionLink">
                                {$RATEPAY_INFO_8}
                            </a>
                            {$RATEPAY_INFO_9}
                            <a href="{$privacy}" target="_blank" class="piRpConditionLink">
                                {$RATEPAY_INFO_10}
                            </a>
                            {$RATEPAY_INFO_11}
                            {if $merchantPrivacy}
                            {$RATEPAY_INFO_12}
                            <a href="{$merchantPrivacy}" target="_blank" class="piRpConditionLink">
                                {$RATEPAY_INFO_13}
                            </a>.
                            {/if}
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
        <tr>
            <td style="text-align:left;">
                <a href="checkout_payment.php">
                    <img src="templates/xtc4/buttons/german/button_back.gif" alt="Zur&uuml;ck"/>
                </a>
            </td>
            <td style="text-align:right;">
                <a href="javascript:submitTerms();">
                    <img src="templates/xtc4/buttons/german/button_continue.gif" alt="Weiter"/>
                </a>
            </td>
        </tr>
    </table>
</div>
