@charset "utf-8";
/* CSS Document */
* {
	margin:0;
	padding:0;
}
html {
	overflow-x:hidden;
}
.pirpmain-cont {
	margin:0 auto;
	width:500px;
	padding:24px 38px;
	overflow:hidden;
}
body {
	font-family:Tahoma, arial, Helvetica, sans-serif;
	font-size:13px;
}
.pirpleft {
	float:left;
}
.pirpright {
	float:right;
}
.pirpheader {
	overflow:hidden;
}
.pirptop-right {
	padding:14px 0 0 0;
	min-width:280px;
	float:right;
	font-size:13px;
	line-height:28px;
}
.pirpinput-amount {
	border:1px solid #d1dfe0;
	text-align:right;
	padding:4px 0;
	margin:0 2px;
	font-size:16px;
}
.pirparrow {
	height: 39px;
	left: -1px;
	position: absolute;
	width: 12px;
	top: 0;
}
.pirpcontent-tabs {
	padding:22px 0;
	float:left;
	width:100%;
}
.pirpinput-text {
	line-height:24px;
	float:left;
}
.pirptabfirst, .pirptabsecond {
	width:177px;
	font-size:13px;
	padding-right:5px;
	cursor:pointer;
}
.pirptabfirst span, .pirptabsecond span {
	color:#b69767;
	text-decoration:none;
	float: left;
}
.pirpcontent-tabs span.pirpactive {
	color:#263551;
}
.pirpbgwhite {
	background:#fff;
}
.pirpcontenttop {
	background:#f3f3f3;
	padding:8px 11px 0px 14px;
	width:472px;
	float:left;
	position:relative;
}
.pirpcontenttop p {
	margin:0 0 28px 0;
	padding:0;
}
.pirpcontentbot {
	background:#f3f3f3;
	padding:0px 11px 10px 14px;
	width:472px;
	float:left;
	position:relative;
}
.pirpcontentbot p {
	margin:0 0 28px 0;
	padding:0;
}
.pirpsubmit {
	background:#f2c551;
	color:#000;
	padding:4px 0 7px;
	display:inline-block;
	float:left;
	text-decoration:none;
	word-wrap: normal;
	width:133px;
	padding:2px 0;
	font-weight:bold;
	border:none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin:2px 0 0 8px;
	position:relative;
	cursor:pointer;
	font-family: Tahoma,arial,Helvetica,sans-serif;
}
.pirpmid-heading {
	font-size:15px;
	margin:20px 0 18px;
	float: left;
	width:100%;
}
.pirpname-big {
	width:264px;
	font-weight:bold;
}
.pirppri-big {
	font-weight:bold;
	width:100px;
	text-align:right;
}
.pirpsubmit-area {
	float:left;
	margin:0 5px 0 0;
}
.pirpname-small {
	margin:0 0 0 15px;
	width:248px;
}
.pirpprice-area {
	line-height:20px;
	float:left;
}
.pirpquantity-area {
	margin:0 0 0 0;
	float:left;
	width:100%;
	line-height: 20px;
}
.pirpbottom-cont {
	padding:10px 0 0 0;
	float:left;
	border-top:1px solid #d1ded0;
	margin:10px 0 0 ;
}
.pirpsubmit-text {
	line-height:24px;
	float:left;
	padding:0 5px 0 0;
}
.pirparrow-right {
	height: 39px;
	right: -1px;
	position: absolute;
	width: 12px;
	top: 0;
}
p.pirptop-text {
	margin:20px 15px 0;
}
input.pirpinp-btn {
	width:134px;
	float:left;
	color:#000;
	background:#f2c551;
	border:none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 8px 0 0 16px;
	font-weight:bold;
	padding:2px;
	cursor:pointer;
	position:relative;
	font-family: Tahoma,arial,Helvetica,sans-serif;
}
.pirpdivider {
	border-top:1px solid #d1ded0;
	margin:10px 0;
	width:100%;
	height:1px;
}
.pirpcurrency-text {
	float: left;
	line-height:28px;
	font-size:16px;
}
.pirpsubmit-area .pirpinput-amount {
	font-size:13px;
}
.pirptop-right .pirpinput-text {
	line-height:28px;
}
.pirpselect-list {
	float:left;
	width:154px;
	border:1px solid #d1dfe0;
	height:23px;
	margin-left:18px;
	text-align: right;
}
.pirpsubmit-area input {
	margin-top:0px;
}
.pirpnoti-msg p {
	margin:0;
}
.pirpnotification {
	background:#ffffe0;
	float:left;
	width:462px;
	color:#263551;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding:10px 5px;
	border:1px solid #e6db55;
	margin:25px 0 0 0;
	position:relative;
}
.pirperror {
	background:#FFEBE8;
	float:left;
	width:462px;
	color:#263551;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding:10px 5px;
	border:1px solid #CC0000;
	margin:25px 0 0 0;
	position:relative;
}
.pirpsubmit-area .pirpcurrency-text {
	font-size:14px;
	line-height:24px;
}
.pirpcur-big {
	width:100px;
	text-align:left;
	font-weight:bold;
	padding-left:5px;
}
.pirpcur-small {
	width:100px;
	text-align:left;
	padding-left:5px;
}
.pirppri-small {
	width:100px;
	text-align: right;
}
.pirpadditional {
	width: 275px
}
